<h1 class="text-center"> Nuevo Héroe <small> asd </small> </h1>

<div class="dos-columnas">
  <div class="contenedor-formulario">
    <div class="flex-2">
      <mat-form-field>
        <mat-label for="heroe">Super Héroe</mat-label>
        <input [(ngModel)]="heroe.superhero" matInput type="text" id="heroe" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label for="ego">Alter Ego</mat-label>
        <input [(ngModel)]="heroe.alter_ego" matInput type="text" id="ego" required>
      </mat-form-field>
    </div>

    <mat-form-field>
      <mat-label for="aparicion">Primera Aparición</mat-label>
      <input [(ngModel)]="heroe.first_appearance" matInput type="text" id="aparicion" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label for="personaje">Personajes</mat-label>
      <input [(ngModel)]="heroe.characters" matInput type="text" id="personaje" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label for="creador">Creador</mat-label>
      <mat-select [(ngModel)]="heroe.publisher" required>
        <mat-option *ngFor="let publisher of publishers" [value]="publisher.id">
          {{ publisher.desc }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label for="foto">Foto URL</mat-label>
      <input [(ngModel)]="heroe.alt_img" matInput type="foto" id="aparicion" required>
    </mat-form-field>

    <br>

    <button mat-raised-button color="primary" (click)="guardar()">
      <mat-icon>edit</mat-icon>
      Guardar
    </button>

  </div>

  <div class="contenedor-imagen">
    <img [src]="heroe | imagen" alt="imagen heroe">
  </div>
</div>