.error{
text-align: center;
color: cornflowerblue;
padding: 2rem;
}

/* globales */

header{
  background-image: linear-gradient(to right,  rgb(70 0 0 / 9) 50%, rgb(0 0 70 / .9) 50% );
  max-width: 100%;
  height: auto;
}

nav{
  display:flex;
  flex-direction: column;
  max-width: 100%;
  height: auto;

}

@media (min-width: 768px){
  nav{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding: 2rem;
  }
}
a{
  text-align: center;
  width: 100%;
  text-decoration: none;
  color: #fff;
  transition: background-color .3s;
}

.navegacion a:hover{
  background-color: gold;
  border-radius: 5px;
}
